:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: #363635;
  background-color: #EDF5FC;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #ff6542;
  text-decoration: inherit;
}
a:hover {
  color: #ff6542;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}




